@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-style: normal;
}

.App .centerd_div {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

.App .heade_section {
  max-width: 600px;
  margin: 0 auto;
}

.inputForm .input_submit {
  border-radius: 50%;
  right: 7px;
  height: 60px;
  width: 60px;
  top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_Box {
  transition: 0.2s;
  box-shadow: inset 2px 0px 14px #0891b2b0;
}

.input_Box:focus {
  box-shadow: 0 0 10px 12000px rgb(0 0 0 / 39%);
}